// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  margin: 0;
  padding: 0;
}

body{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(top, #d9d4c2 0%,#c6c4a2 41%,#d4ae39 55%,#b35c0b 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body h1 {
  text-align: center;
  text-shadow: 0px 1px 1px #ffffff;
  color: #262628;
}

li.logout {
  text-align: center;
  list-style-type: none;
  margin-bottom: 20px; 
  margin-left: auto;
  margin-right: auto;

  height: 30px; 
  width: 100px;
  border: 1px solid #6a8f78;
  background: -webkit-gradient(linear, left top, left bottom, from(#91c8ab), to(#52896a));
  padding: 3px 3px 0px 3px;
  border-radius: 4px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
}

li.logout:hover {
  border: 1px solid #6a8f78;
  text-shadow: #78827c 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#52896a), to(#91c8ab));
  color: #fff;
}
li.logout:active {
  text-shadow: #78827c 0 1px 0;
  border: 0px solid #6a8f78;
  background: -webkit-gradient(linear, left top, left bottom, from(#52896a), to(#91c8ab));
  color: #fff;
}

li.logout a {
  text-decoration: none;
  font-size: 18px;
  font-family: helvetica, serif;
  text-shadow: #78827c 0 1px 0;
  color: #ffffff;
}

.project {
  background: #ffffff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #999999;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.76);
}

.project-header {
  position: relative;
  background: -webkit-linear-gradient(top, #92b2d6 0%,#3c60a1 100%);
  height: 40px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.76);
}

.project-name {
  position: absolute;
  left: 20px;
  bottom: 12px;
  font-size: 16px;
  color: #ffffff;

}

.project-delete {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.project-add {
  border: 1px solid #0a3c59;
  background: -webkit-gradient(linear, left top, left bottom, from(#92b2d6), to(#3c5fa1));
  padding: 11.5px 18px;
  border-radius: 2px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #ffffff 0 0.5px 0;
  text-decoration: none;
  font-weight: bold;
  color: #262628;
  font-size: 18px;
  font-family: helvetica, serif;
  vertical-align: middle;
  display: block;
  width: 150px;
  height: 15px;
  margin: 40px auto;
}

.project-add:hover {
  border: 1px solid #0a3c59;
  text-shadow: #ffffff 0 0.5px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c5fa1), to(#92b2d6));
  color: #262628;
}

.project-add:active {
  text-shadow: #ffffff 0 0.5px 0;
  border: 0px solid #0a3c59;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c5fa1), to(#92b2d6));
  color: #262628;
}

.task-add {
  background: -webkit-linear-gradient(top, #dadbdd 0%,#cbcbcb 100%);
  height: 40px;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.76);
}

input.task-name {
  border: 1px solid #c4c4c4; 
  height: 18px; 
  width: 400px; 
  font-size: 12px;
  position: relative;
  top: 5px;
  left: 10px;
  padding: 4px 4px 4px 4px; 
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  box-shadow: inset 0px 0px 8px #d9d9d9; 
 }

input.task-deadline {
  color: #d9d9d9;
  border: 1px solid #c4c4c4; 
  height: 18px; 
  width: 162px; 
  font-size: 12px;
  position: relative;
  top: 5px;
  right: -5px;
  padding: 4px 4px 4px 4px; 
  box-shadow: inset 0px 0px 8px #d9d9d9; 
}

input.task-done {
  margin-right: 40px;
}

input[type='submit'] {
  height: 27px; 
  width: 162px;
  position: relative;
  right: 0px;
  top: 3px; 

  border: 1px solid #6a8f78;
  background: -webkit-gradient(linear, left top, left bottom, from(#91c8ab), to(#52896a));
  padding: 10.5px 21px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  text-shadow: #78827c 0 1px 0;
  color: #ffffff;
  font-size: 18px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle; 
  line-height: 8px;
} 

form input[type='submit']:hover {
  border: 1px solid #6a8f78;
  text-shadow: #78827c 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#52896a), to(#91c8ab));
  color: #fff;
}
form input[type='submit']:active {
  text-shadow: #78827c 0 1px 0;
  border: 0px solid #6a8f78;
  background: -webkit-gradient(linear, left top, left bottom, from(#52896a), to(#91c8ab));
  color: #fff;
}

.task-delete {
  position: absolute;
  right: 20px;
}

ul {
  list-style-type: none;
  margin-left: -30px;
}

ul li {
  margin: 10px 5px 10px 5px; 
  line-height: 30px;
  position: relative;
  font-size: 14px;
  border-bottom: 1px dotted #ccc;
  color: #939393;
  font-weight: bold;
}

li:last-child {
  margin: 10px 5px 10px 5px;
  line-height: 15px;
  border-bottom: none;
}  

li.ui-state-default.ui-sortable-handle {
  width: 718px;
}

/*  border-right: solid double;
  border-color: red;*/
#content h2 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#new_user {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input#user_remember_me.remember {
  margin-right: -380px;
}
input#user_email {
  width: 40%;
  border: 1px solid #c4c4c4; 
  height: 18px; 
  width: 400px; 
  font-size: 12px;
  top: 5px;
  left: 10px;
  padding: 4px 4px 4px 4px; 
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 8px #d9d9d9; 
}

input#new_user {
  width: 40%;
  border: 1px solid #c4c4c4; 
  height: 18px; 
  width: 400px; 
  font-size: 12px;
  top: 5px;
  left: 10px;
  padding: 4px 4px 4px 4px; 
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 8px #d9d9d9; 
}

.login {
  height: 27px; 
  width: 162px;
  margin-top: 15px;
  margin-bottom: 15px;

  border: 1px solid #6a8f78;
  background: -webkit-gradient(linear, left top, left bottom, from(#91c8ab), to(#52896a));
  padding: 10.5px 21px;
  border-radius: 4px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  text-shadow: #78827c 0 1px 0;
  color: #ffffff;
  font-size: 18px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle; 
  line-height: 8px;
} 

.sign-up:hover {
  border: 1px solid #6a8f78;
  text-shadow: #78827c 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#52896a), to(#91c8ab));
  color: #fff;
}
.sign-up:active {
  text-shadow: #78827c 0 1px 0;
  border: 0px solid #6a8f78;
  background: -webkit-gradient(linear, left top, left bottom, from(#52896a), to(#91c8ab));
  color: #fff;
}

.remember {
  margin-top: 10px;
}

.sign-up {
  font-size: 18px;
  font-family: helvetica, serif;
  text-shadow: 0px 0.5px 0.5px #ffffff;
  color: #262628;
}

label {
  font-size: 18px;
  font-family: helvetica, serif;
  text-shadow: 0px 0.5px 0.5px #ffffff;
  color: #262628;
}
